.container {
    display: flex;
    height: 100%;
}

.left-side {
    flex: 1;
    background-color: yellow;
}
  
.card{
    display : flex; 
    align-items: center;
}
.wrapper {
    display : flex!important; 
    align-items: center!important;
}