

<div *ngIf="current === 0">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name: </label>
      <input type="text" formControlName="name" >
      <button type="button" (click)="addCross($event, 'name')">X</button><br>
    </div>
    <div>
      <label for="city">Gender: </label>
      <input type="text" formControlName="city">
      <button type="button" (click)="addCross($event, 'city')">X</button><br>
    </div>
    <button type="submit" [disabled]="!myForm.valid">Submit</button>
  </form>
</div>
<div *ngIf="current === 1">
  <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmit()">
    <div>
      <label for="address">Address: </label>
      <input type="text" formControlName="address" >
      <button type="button" (click)="addCross($event, 'address')">X</button><br>
    </div>
    <div>
      <label for="city">City: </label>
      <input type="text" formControlName="city">
      <button type="button" (click)="addCross($event, 'city')">X</button><br>
    </div>
    <button type="submit" [disabled]="!secondFormGroup.valid">Submit</button>
  </form>
</div>
