<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <!-- Steps -->
    <div *ngIf="array_number.length !== 0">
      
      <div *ngFor="let number of array_number">
        <div *ngIf="currentStep === number" >
            <div *ngFor="let controlName of controlNames[number - 1]" class="card">
              <label class="label" [for]="controlName">{{ controlName | titlecase }}:</label><br>
              <div class="wrapper">
                 <!-- <input type="text" formControlName="controlName" class="input-field" (focus)="logInputName(controlName)"> -->
                 
                 <!-- <input type="text" [formControlName]="controlName" class="input-field" (focus)="logInputName(controlName)"> -->
                 <!-- <input type="text" [formControlName]="controlName" class="input-field" (focus)="logInputName(controlName)" autofocus> -->
                 <input #inputField type="text" [formControlName]="controlName" class="input-field" (focus)="logInputName(controlName)" >
              </div>
            </div>
            <div *ngIf="currentStep < array_number.length ">
              <button nz-button nzType="primary" class="submit-button" type="submit" [disabled]="!myForm.valid"  (click)="goToStep(number + 1)">Next</button>
            </div>
            <div *ngIf="currentStep === array_number.length ">
                <button type="submit" nz-button nzType="primary" class="submit-button" [disabled]="!myForm.valid">Submit</button>
            </div>
          
          </div>
    </div>

    </div>
    
  </form>
</div>
